.text-field, .combo-box{
    -fx-border-radius: 30;
    -fx-border-width: 3px;
    -fx-border-color: gray;
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}